
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
  /* font-family: 'Work Sans', sans-serif; */

  .App{
    display: flex;
    min-height: 100vh;
    background-color: rgb(223, 255, 252);

  }

  ::-webkit-scrollbar{
    width: 0;
  }

  ::-webkit-scrollbar-thumb{
    background: transparent;
  }

  ::-webkit-scrollbar-thumb:hover{
    background:black;
  }